* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #272727;
  color: white;
  font-family: "Baloo 2", cursive;
}

nav {
  box-shadow: 0 8px 6px -6px black;
  caret-color: transparent;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  padding: 1rem;
}
nav ul li a {
  font-size: 1.4rem;
  transition: all 0.3s ease;
}
nav ul li a:hover {
  color: yellow;
}

div.todo form {
  min-width: 80vw;
  display: flex;
  justify-content: center;
  margin: 0rem 1rem;
}
div.todo form input,
div.todo form button.todo {
  font-size: 1.3rem;
  padding: 0rem 1rem;
  margin: 0.1rem 0.3rem;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
}
div.todo form input.completed,
div.todo form button.todo.completed {
  background-color: lightgreen;
}
div.todo form input.failured,
div.todo form button.todo.failured {
  background-color: lightcoral;
}
div.todo form input.restrict {
  background-color: lightblue;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  caret-color: transparent;
}
div.todo form input.check {
  background-color: lightgreen;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  caret-color: transparent;
}
div.todo form input.shake {
  animation: shake 0.5s ease-in-out;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  caret-color: transparent;
}
div.todo form input {
  width: 50%;
  padding: 0.5rem 1rem;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
main section div.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
main section div.top h1 {
  font-size: 3rem;
  caret-color: transparent;
}
main section div.top div.btnList {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}
main section div.top div.btnList button.middle-btn {
  background-color: #272727;
  color: white;
  border: none;
  margin: 1rem;
  font-size: 2rem;
  cursor: pointer;
}
main section div.top div.btnList button.middle-btn:hover {
  color: yellow;
}
main section div.top div.dateInput {
  margin: 0.1rem 0rem;
}
main section div.top div.dateInput input {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
}
main section button.addTodo {
  border: none;
  font-size: 2rem;
  margin-top: 1rem;
  width: 2.5rem;
  border-radius: 1rem;
}

div.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
div.profile div.user-info,
div.profile div.user-stats,
div.profile div.account-settings {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
}
div.profile div.user-info h2,
div.profile div.user-stats h2,
div.profile div.account-settings h2 {
  margin-bottom: 0.75rem;
  font-size: 2rem;
}
div.profile div.user-info p,
div.profile div.user-stats p,
div.profile div.account-settings p {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}
div.profile div.user-info div.change-password,
div.profile div.user-stats div.change-password,
div.profile div.account-settings div.change-password {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.profile div.user-info div.change-password div.err_msg,
div.profile div.user-stats div.change-password div.err_msg,
div.profile div.account-settings div.change-password div.err_msg {
  background-color: #f8d7da;
  color: #721c24;
  padding: 1px;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 1rem;
}
div.profile div.user-info div.change-password div.err_msg p,
div.profile div.user-stats div.change-password div.err_msg p,
div.profile div.account-settings div.change-password div.err_msg p {
  margin: 0;
  font-size: 1.4rem;
}
div.profile div.user-info div.change-password div.change-item,
div.profile div.user-stats div.change-password div.change-item,
div.profile div.account-settings div.change-password div.change-item {
  display: flex;
}
div.profile div.user-info div.change-password div.change-item label,
div.profile div.user-stats div.change-password div.change-item label,
div.profile div.account-settings div.change-password div.change-item label {
  align-content: center;
  margin: 0rem 0.5rem;
  font-size: 1.2rem;
}
div.profile div.user-info div.change-password div.change-item input,
div.profile div.user-stats div.change-password div.change-item input,
div.profile div.account-settings div.change-password div.change-item input {
  font-size: 1rem;
  margin-top: 0rem 0.5rem;
  padding: 0rem 1rem;
  border-radius: 1rem;
}
div.profile div.user-info button,
div.profile div.user-stats button,
div.profile div.account-settings button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: white;
  color: black;
  border-radius: 1rem;
  cursor: pointer;
}
div.profile div.user-info button:hover,
div.profile div.user-stats button:hover,
div.profile div.account-settings button:hover {
  background-color: yellow;
}
div.profile div.account-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.register_login {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
}
div.register_login div.err_msg {
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  width: auto;
  text-align: center;
  border-radius: 10px;
}
div.register_login div.err_msg p {
  margin: 0;
  font-size: 1.5rem;
}
div.register_login div.input-group {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
div.register_login div.input-group input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  margin: 0.5rem;
  font-size: 1.2rem;
  color: black;
  width: 30rem;
  border-radius: 1rem;
}
div.register_login div.input-group label {
  text-align: right;
  width: 8rem;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
div.register_login button {
  font-size: 1.5rem;
  border: none;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}
div.register_login button:hover {
  color: yellow;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(20px);
  }
  75% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}/*# sourceMappingURL=style.css.map */